<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <style type="text/css">
      td, th {padding: 10px;border: 1px solid black;}
      tr:nth-of-type(even) { background-color: #dff0d8; }
      table {border-collapse: collapse;}
  </style>
</head>
<body>
<h3>Основная информация</h3>
<table>
  <tr>
    <td>Контактное лицо:</td>
    <td align="right"><%= @order_info[:name] %></td>
  </tr>
  <tr>
    <td>Телефон:</td>
    <td align="right"><%= @order_info[:phone] %></td>
  </tr>
  <tr>
    <td>Компания:</td>
    <td align="right"><%= @order_info[:companyName] %></td>
  </tr>
  <tr>
    <td>Общая сумма:</td>
    <td align="right"><%= @total_formatted %></td>
  </tr>
  <tr>
    <td>Время:</td>
    <td align="right"><%= @order_time.localtime %></td>
  </tr>
</table>
<h3>Заказ:</h3>
<table>
  <thead>
  <tr>
    <th align="right">№</th>
    <th align="left">Название</th>
    <th align="right">Количество</th>
    <th align="right">Цена</th>
    <th align="left">Пожелания</th>
  </tr>
  </thead>
  <% number = 1%>
  <% @order_items.each do |item| %>
  <tr>
    <td align="right"><%= number %></td>
    <td align="left"><%= item[:name] %></td>
    <td align="right"><%= item[:amount] %></td>
    <td align="right"><%= item[:price] %></td>
    <td align="justified"><%= item[:comment] %></td>
  </tr>
  <% number+=1 %>
  <% end %>
</table>
<h3>Примечание:</h3>
<p>
  <%= @order_info[:orderComment] %>
</p>
</body>
</html>
