<script src="/assets/jquery/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="/assets/jquery/obelisk.js" type="text/javascript"></script>
<script type='text/javascript'>
    jQuery.noConflict();
    hover_button(".buy-link", "/assets/cart-icon.png", "/assets/cart-put-icon.png")
</script>


<div class="productcontent">

<% @products.each do |product| %>
    <div class="product-block">
      <div class="product-name">
        <a href="<%= product.medium_img %>" rel="lightbox[v1]"><%= product_full_name product %></a>
      </div>
      <div class="product-description">
        <%=raw product.notes %>
      </div>
      <div class="product-image">
        <a href="<%= product.medium_img %>" rel="lightbox[v2]"><img src="<%= product.small_img %>" alt="Траурный венок <%= product.name %>" width="135" height="180"/></a>
      </div>
      <div class="product-extra-foto">
        <%=raw show_extra_image_ref product %>
      </div>
      <div class="product-size">
        Размер:&nbsp;<%= product_size product %>
      </div>
      <div class="product-cost">
        Цена: <%= sprintf("%u р", product.price) %>
      </div>
    </div>
<% end %>

</div>

<br class="clear" />

<div class="cleaner">&nbsp;</div>