<div class="container-fluid">
  <% @products.each do |product| %>
      <div class="col-xs-4 col-sm-3 jumping-block">
        <div class="product-block shadow center-block">

          <a href="/html/product/<%= product.id %>">
            <img class="img-responsive center-block rounded-upper-corners"
                 src="<%= product.medium_img %>"/>
          </a>

          <div class="two-lines-block top-padding">
            <strong><%= product.name %></strong>
            <small class="hideOnSmall">(<%= product.article %>)</small>
          </div>

          <div class="info-block">
            <div class="product-price">
              <strong><%= sprintf("%u р", product.price) %></strong>
              <small class="hideOnSmall"><%= product_size product %></small>
            </div>
          </div>

        </div>
      </div>
  <% end %>
</div>
